<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% extends 'bootstrap/base.html' %}


{% block title %}

One Stop Shop

{% endblock %}

{% block content%}

<h1 class="jumbotron text-center" class="text-center">Welcome to 1-Stop-Shop</h1>

<a name="/add" href="/add">Add a Product</a>
<a name ="/buy" href="/buy">Buy Products</a>

<!--<button class="btn-success" href="/jumble">Jumble a Word</button>-->
<!--<button class="btn-info" href="/fgout">Figure out the words</button>-->

{% endblock %}
</body>
</html>


